<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PWManager search results"</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <h1>PWManager search</h1>
    <!-- Display the search results -->
    <ul>
        <% results.forEach(function(item) { %>
            <a href="<%= item.link %>" target="_blank"><%= item.title %></a>
            <p><%= item.snippet %></p>
            <% if (item.pagemap && item.pagemap.cse_image) { %>
                <img src="<%= item.pagemap.cse_image[0].src %>" alt="Произошла ошибка и не удалось получить изображение" width="100">
            <% } %>
            <hr>
        <% }); %>
    </ul>
    
    <!-- Pagination links -->
    <div class="pagination">
        <% if (page > 1) { %>
            <a href="/search?query=<%= query %>&page=<%= page - 1 %>">На страницу назад</a>
        <% } %>
        <a href="/search?query=<%= query %>&page=<%= page + 1 %>">На страницу вперёд</a>
    </div>

    <a href="/">Обратно к поиску</a>
</body>
</html>
